// Dispositivos pequeños (celulares en horizontal, 576px y más)
$breakpoint-sm: 576px;

// Dispositivos medianos (tablets, 768px y más)
$breakpoint-md: 768px;

// Dispositivos grandes (laptops, 992px y más)
$breakpoint-lg: 992px;

// Dispositivos extra grandes (desktops, 1200px y más)
$breakpoint-xl: 1200px;