.marcas {
    font-family: $fuente-principal;
    margin-top: 10px;
    background: linear-gradient(60deg, $primary-color, $secondary-color);

    .carrusel {
        display: flex;
        overflow-x: hidden;
        margin: 20px 0;
        width: 100%;

        img {
            width: 170px;
            height: 100%;
            object-fit: contain;
            padding: 20px 0;
            margin-right: 2rem;
            border-radius: 50%;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }

        .carrusel-track {
            display: flex;
            animation: scroll 10s linear infinite;
        }
    }
}