@mixin cards-productos {
    width: 14em;
    height: 25em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    flex-shrink: 0;
}

img {
    width: 100%;
    height: 60%;
    object-fit: fill;
}

.card-body {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    text-align: center;
}

@mixin card-discount {
    width: 13rem;
    height: 16rem;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;

    &:hover {
        border-radius: 15px;
        cursor: pointer;
        transform: scale(1.0);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
        background: rgb(103, 151, 255);
    }

    &:hover .first-content {
        height: 0px;
        opacity: 0;
        object-fit: fill;
    }

    &:hover .second-content {
        opacity: 1;
        font-size: 1.3rem;
        transform: rotate(0deg);
    }


    .first-content {
        height: 100%;
        width: 100%;
        transition: all 0.4s;
        opacity: 1;
        border-radius: 15px;
        object-fit: fill;
    }



    .second-content {
        height: 0%;
        width: 100%;
        text-align: center;
        opacity: 0;
        border-radius: 15px;
        transition: all 0.4s;
        transform: rotate(180deg);
    }


}

@mixin bordes {
    position: relative;
    padding: 1rem;
    border-radius: 15px;
    background-color: #f4f4;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: 15px;
        background: linear-gradient(90deg, #ff0000, #ffae00, #00ffff, #ff00ff, #ff0000);
        background-size: 300%;
        z-index: -1;
        animation: rotate-border 4s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        background: #f4f4;
        border-radius: 12px;
        z-index: -1;
    }

    @keyframes rotate-border {
        0% {
            background-position: 0% 50%
        }

        100% {
            background-position: 300% 50%
        }
    }
}



.card-promociones {
    width: 15rem;
    height: 25rem;
    font-family: $fuente-opcional2;
    color: $dark;
    background-color: $secondary-color;
}

.card-borde {
    @include bordes();
}

.card-productos {
    font-family: $fuente-opcional;
    @include cards-productos();
}

.card-discount {
    @include card-discount();

    .new-price {
        font-size: 1.5rem;
        font-family: $fuente-secundaria;
    }

    .old-price {
        @extend .new-price;
        font-size: 1.2rem;
        text-decoration: line-through 2px #ff0000;
    }
}