.navbar {
    background: $bg-color2;
    font-family: $fuente-opcional2;

    a {
        color: white;
        font-size: 1.2em;

        &:hover {
            color: $alternative-color2;
        }
    }

    .logo-nav {
        width: 3em;
    }
}