// fuentes
$fuente-principal: 'fugaz one', sans-serif;
$fuente-secundaria: 'montserrat', sans-serif;
$fuente-opcional: 'roboto', sans-serif;
$fuente-opcional2: 'lexend deca', sans-serif;
$fuente-buttons: 'rubik', sans-serif;
$fuente-merch: 'nosifer', sans-serif;
 // colores
$primary-color: #67973f;
$secondary-color: #530068;
$dark: #02022b;
$light: #f5f5f5;
$bg-color: #8C5245;
$bg-color2: #D9BBB0;
$alternative-color: #A68572;
$alternative-color2: #59372F;
$alternative-color3: #EBEFF2;
