// fuentes
$fuente-principal: 'fugaz one', sans-serif;
$fuente-secundaria: 'montserrat', sans-serif;
$fuente-opcional: 'roboto', sans-serif;
$fuente-opcional2: 'lexend deca', sans-serif;
$fuente-buttons: 'rubik', sans-serif;
$fuente-merch: 'nosifer', sans-serif;
 // colores
$primary-color: #0d200c;
$secondary-color: #0ca15c;
$dark: #02022b;
$light: #f5f5f5;
$bg-color: #0f3006;
$bg-color2: #21be48;
$alternative-color: #4b92b3;
$alternative-color2: #9e9c0f;
$alternative-color3: #9f5db3;
